@media screen and (max-width:600px) {

    .video {
        width: 100%;
        height: 72vh;
    }

    .slides {
        width: 100%;
        height: 80vh;
    }

    .swiper {
        width: 100%;
        height: 80vh;
    }

    /* page 3 optiobs */

    .page3 {
        flex-direction: column;
        padding-top: 9vh;

        .left {
            width: 100vw;
            height: 30vh;
            overflow-y: scroll;
            padding-top: 4vw;
        }

        .all_options {
            margin-left: 4vw;

            a {
                font-size: 5vw;
                margin-bottom: 2vw;
            }

            .active_mavic_opt {
                margin-left: 2vw;
            }
        }


        .right {
            width: 100%;
            padding: 3vw 5vw;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
    }
    
    .all_carts {
        gap: 3vw;
        align-items: center;
        justify-content: center;
        .cart_box {
            width: 19vmax;

            .top_part {
                width: 100%;
                height: 20vh;
            }

            .bottom_part {
                width: 100%;
                min-height: 14vh;

                .part1_bottom {

                    h3 {
                        font-size: 3.2vw;
                    }

                    p {
                        font-size: 2vw;
                        margin-top: 1vw;
                    }

                    .price {
                        font-size: 2.3vw;
                        margin: 2vw 0;
                    }
                }

                .part2_bottom {
                    a {
                        font-size: 2.3vw;
                        padding: 2.6vw 1.5vw;
                        width: 120px;
                    }

                    .read_more {
                        padding: 2.5vw 1.5vw;

                    }
                }
            }
        }
    }

}