@media screen and (max-width:700px)and (orientation: portrait) {

    .video {
        width: 100%;
        height: 72vh;
    }

    .text_page1 {
        width: 80%;
        transform: translate(-50%,-50%);
        top: 50%;
        h1 {
            font-size: 1.5rem;
           
        }
        p{
            font-size: 2.5vw;
        }
        .btn{
            font-size: .7rem;
        }
    }

    .slides {
        width: 100%;
        height: 75vh;
    }

    .swiper {
        width: 100%;
        height: 75vh;
    }

    /* page 3 optiobs */

    .page3 {
        flex-direction: column;
        padding-top: 9vh;

        .left {
            width: 100vw;
            height: 30vh;
            overflow-y: scroll;
            padding-top: 4vw;
        }

        .all_options {
            margin-left: 4vw;

            a {
                font-size: 5vw;
                margin-bottom: 2vw;
            }

            .active_mavic_opt {
                margin-left: 2vw;
            }
        }


        .right {
            width: 100%;
            padding: 3vw 5vw;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }

    .all_carts {
        gap: 3vw;
        justify-content: center;

        .cart_box {
            width: 21vmax;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

            .top_part {
                width: 100%;
                height: 20vh;
            }

            .bottom_part {
                width: 100%;
                min-height: 14vh;

                .part1_bottom {

                    h3 {
                        font-size: 3.2vw;
                    }

                    p {
                        font-size: 2vw;
                        margin-top: 1vw;
                    }

                    .price {
                        font-size: 2.3vw;
                        margin: 2vw 0;
                    }
                }

                .part2_bottom {
                    a {
                        font-size: 2.3vw;
                        padding: 2.6vw 1.5vw;
                        width: 120px;
                    }

                    .read_more {
                        padding: 2.5vw 1.5vw;

                    }
                }
            }
        }
    }

}