.mini {
    width: 100%;
    height: auto;
    font-family: "Montserrat", sans-serif;
    display: none;
}


.mini_page1 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.video_div {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .img {
        width: 100%;
        height: 100%;
        margin-top: 3vw;
        object-position: center;
        object-fit: cover;
    }

    video {
        width: 100%;
        aspect-ratio: 16/9;
        height: 100%;
        object-fit: cover;
    }
}

.cover_div_text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000002a;
}

.mini_page1_text {
    position: absolute;
    top: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    gap: .5vw;
    transform: translate(-50%, -50%);
    color: #fff;


    p {
        font-size: 1.5vw;
        color: #fff;
    }

    div {
        padding-top: 2vw;
        width: auto;
        gap: 2vw;
        display: flex;
        align-items: center;
        justify-content: space-between;


    }
}

.changes_in_color_white {
    background: -webkit-repeating-linear-gradient(45deg, #ffff 0 29%, #FE8451 33% 50%, #7478ff 55% 68%, #ffffff 72% 100%);
}

.heading_decos {
    font-size: 3.5vw;

    span {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 3px;
    }
}

.changes_in_color_black {
    background: -webkit-repeating-linear-gradient(45deg, #000000 0 29%, #FE8451 33% 50%, #7478ff 55% 68%, #000000 72% 100%);
}

.button_class_all {
    font-size: 1.1vw;
    padding: .7vw 2vw;
    border-radius: 30px;
    border: 2px solid #fff;
    background-color: #fff;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .3s;
}

.button_class_all:hover {
    background-color: #FE8451;
    color: #fff;
    border-color: var(--themeColor);
}

.explore:hover {
    background-color: transparent;
    border-color: var(--themeColor);
    color: var(--themeColor);
}

.explore {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-weight: 600;
}

.mini_page2 {
    width: 100%;
    height: auto;
    padding-bottom: 3vw;
    background-color: #fff;
}

.containers {
    width: 100%;
    height: auto;
    padding: 2vw 10vw;

    h5 {
        font-size: 1.5vw;
        font-weight: 500;
    }
}


.cart_box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);

}

/* 
.mini_page3 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #000;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.content_mini_page3 {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5vw;
}

.container_mini {
    width: 50vw;
    height: 70vh;
}

.content_mini_top {
    text-align: center;

    h1 {
        font-size: 3vw;
    }

    p {
        font-size: 1.2vw;
        color: rgb(203, 203, 203);

    }
}

.content_mini_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw 1vw;
    padding-top: 5vw;
    gap: 5vw;
}

.cmb_layer {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.right_cmb p {
    font-size: 1.1vw;
    color: #e1e1e1;
    margin-top: .7vw;
}

.right_cmb h3 {
    font-size: 1.4vw;
}

.mini_last_page {
    width: 100%;
    background-color: #F6F6F4;
    height: auto;


    h1 {
        text-align: center;
        padding: 4vw 0 3vw 0;
    }
}

.container_last_page {
    width: 90%;
    margin: auto;
    padding: 4vw 0;
    height: 70vh;
    border-radius: 60px 60px 0 0;
    border: 8px solid #c1c1c151;
    border-bottom: 0px;
    border-style: dashed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.left_right_last_page {
    width: 25vw;
    height: auto;
    line-height: 2vw;

    h2 {
        font-size: 1.8vw;
        font-weight: 500;
        margin-top: 1vw;
    }

    p {
        font-size: 1.1vw;
    }
}

.right_last_page {
    text-align: right;

    div {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1vw;

    }


}

.size_enhance {
    width: 3.5vw;
    height: 3.5vw;
    font-size: 2.4vw;
}

.maintain_dist {
    margin-top: 5vw !important;
}

.changes_btn_class {
    width: fit-content;
    padding: .1vw 1vw;
    border-radius: 20px;
    letter-spacing: 1px;
    background-color: #FE8451;
}

.mini_last_page .heading_decos {
    font-size: 2.5vw;
} */

@media screen and (max-width: 650px) and (orientation : portrait) {
    .mini_page1 {
        height: 85vh;

        .mini_page1_text {
            width: 100%;
            text-align: center;

            .heading_decos {
                font-size: 30px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    .button_class_all {
        font-size: 16px;
        padding: 10px 20px;
    }
    .containers{
        padding: 4vw 0vw;
        h5{
            font-size: 16px;
            padding:2vw  4vw ;
        }
    }
}
@media screen and (max-width: 400px) and (orientation : portrait) {
    .button_class_all {
            font-size: 12px;
            padding: 8px 18px;
        }
}