* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
    font-size: 15.5px;
    font-weight: 500;
}

.main {
    width: 100%;
    height: auto;
    display: none;
    background-color: #fff;
}

/* section 1 start */
.full_video {
    width: 100%;
    height: auto;
}

.video {
    width: 100%;
    height: 100vh;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }


}

.full_video {
    position: relative;
    width: 100%;
    height: 100%;
}

.text_page1 {
    padding: 2vw;
    position: absolute;
    top: 20%;
    width: 60%;
    color: #fff;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);

    h1 {
        font-size: 3rem;
        margin-bottom: 10px;
        color: #fff;
        span {
            font-weight: 300;
        }
    }

    p {
        color: rgb(231, 231, 231);
        font-size: 19px;
        margin-top: 3vw;
        margin-bottom: 4vw;
    }

    .btn-primary {
        background-color: #fff;
        color: #000;
    }
}


.slides {
    width: 100%;
    height: 100vh;
}

.swiper {
    width: 100%;
    height: 100vh;
}

.swipe_slider {
    width: 100%;
}

.slide_one {
    width: 100%;
    height: 100%;
    background-image: var(--bgImg);
    background-position: center;
    background-size: cover;
    padding-top: 10vh;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .container {
        text-align: center;
    }

    .headline {
        font-size: 1.2rem;
        margin-bottom: 10px;
        color: #cccccc;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 10px;
        color: #fff;

        span {
            font-weight: 300;
        }
    }

    .subheadline {
        font-size: 1.5rem;
        margin-bottom: 30px;
        color: rgb(255, 255, 255);
    }
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    border: 1px solid #fff;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 30px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e3e3e391;
}


.header_swiper_next_btn,
.header_swiper_prev_btn {
    width: 45px;
    height: 90px;
    overflow: hidden;
    transform: translateY(-25%);
    transition: cubic-bezier(0.19, 1, 0.22, 1) .3s;
}

.common_btn_class:hover {
    background-color: #20202048;

}

.header_swiper_next_btn {
    border-radius: 10px 0 0 10px;
    right: 0;
    padding-left: 5px;
}

.header_swiper_prev_btn {
    left: 0;
    padding-right: 5px;
    border-radius: 0 10px 10px 0;
}

.header_swiper_next_btn::after,
.header_swiper_prev_btn::after {
    color: #fff;
    font-size: 1.3vw;
}

/* page3 */

#section3{
    height: 300vh;
    overflow: hidden;
}


.page3 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    .left {
        width: 18vw;
        height: auto;
        padding-top: 4vw;
    }
    .all_options {
        margin-left:2vw;
        width: 80%;
        height: 80%;

        a {
            font-size: 17px;
            margin-bottom: 1vw;
            display: block;
            font-weight: 300;
            cursor: pointer;
        }
    }

    .mavic_clk {
        position: relative;
        width: fit-content;

        ::after {
            content: "";
            width: 70%;
            height: .5px;
            background-color: black;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        i {
            font-size: 20px;
            font-weight: 100;
        }
    }

    .mavic_opt {
        width: auto;
        padding-left: .5vw;
        height: auto;
        display: none;
        background-color: #fff;

        p {
            color: grey;
            font-size: 16px;
            font-weight: 300;

        }

    }

    .active_mavic_opt {
        display: block;
    }

    .active_a_tag {
        font-weight: 600 !important;
    }

    /* right side */
    .right {
        width: 80vw;
        height: auto;
    }


}

